@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="contact">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-left">
                    <h2>location</h2>
                    <div class="company_address">
                        <p>35 Kremlevskaya Str., Kazan Federal University, Kazan,</p>
                        <p>Rep. Tatarstan, 420111,</p>
                        <p>Russia</p>
                        <p>Phone: -_-</p>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d916.2517027388644!2d49.12298655492946!3d55.79180931362711!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead1151142a4f%3A0x8d8c282f1e9b587c!2z0JLRgtC-0YDQvtC1INCX0LTQsNC90LjQtSDQmtCk0KM!5e0!3m2!1sru!2sru!4v1618350484115!5m2!1sru!2sru" width="360" height="205" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="contact-right">
                    <h2>Get in Touch</h2>
                    <div class="contact-form">
                        <form>
                            <input type="text" value="Name" onfocus="if (this.value == 'Name') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Name'; }" />
                            <input type="text" value="Email" onfocus="if (this.value == 'Email') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Email'; }" />
                            <textarea onfocus="if (this.value == 'Message') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Message'; }">Message</textarea>
                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
