@model DAL_carshop.Models.Login 
@{ 
    ViewData["Title"] = "Login";
}

<div class="product_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-6 login-left">
                    <h3>New Customers</h3>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    <a class="acount-btn" asp-area="" asp-controller="Home" asp-action="Register">Create an Account</a>
                </div>
                <div class="col-md-6 login-right">
                    <h3>Registered Customers</h3>
                    <p>If you have an account with us, please log in.</p>
                    <form asp-action="Login" asp-controller="Home" asp-anti-forgery="true">
                        <div>
                            <span>Email Address<label>*</label></span>
                            <input type="text" asp-for="Email" />
                        </div>
                        <div>
                            <span>Password<label>*</label></span>
                            <input type="password" asp-for="Password"/>
                        </div>
                        <input type="submit" value="Login"/>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>