# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.New Unity Project (2).iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\User\Unity\New Unity Project (2)\.idea\.idea.New Unity Project (2)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
